{% extends 'base.html' %}
  {% block conteudo %}  
    <!--Início Destaque-->
    <div id="conteudo">

      <div id="duas-colunas">
        <div class="caixa">
          <h2>Disciplinas do Oitavo Período</h2>
          <div class="caixa-conteudo">
            <div class="list">
              <ul>
                <li> Desenvolvimento de Pesquisa Acadêmico-Científica II </li>
                <li> Empreendedorismo</li>
                <li> Estágio Curricular Supervisionado (Estágio Docente) IV </li>
                <li> Ética, Computador e Sociedade </li>
                <li> Interação Humano-Computador </li>
                <li> Seminário de Orientação ao Desenvolvimento de Pesquisa Acadêmico-Científica II </li>
                <li> Seminário de Orientação ao Estágio Supervisionado (Estágio Docente) IV </li>
                <li> Sistemas Multimídia </li>
              </ul>
            </div>
    
          </div>
        </div> <!--Fim Destaque-->

      
        


      </div><!--fim notícias-->

      <!--Inicio Lateral-->
      <div id="lateral">
        <div class="caixa">
        <h2>Disciplinas por período</h2>

        <div class="caixa-conteudo">
            <ul>
              <li><a href="primeiro">1º Período</a></li>
              <li><a href="segundo">2º Período</a></li>
              <li><a href="terceiro">3º Período</a></li>
              <li><a href="quarto">4º Período</a></li>
              <li><a href="quinto">5º Período</a></li>
              <li><a href="sexto">6º Período</a></li>
              <li><a href="setimo">7º Período</a></li>
              <li><a href="oitavo">8º Período</a></li>
              <li><a href="optativas">Optativas</a></li>
            </ul>
        </div>
        <div class="caixa">
        <h2>Novidades</h2>
        <div class="caixa-conteudo">
           
            <form>
              <div>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" placeholder="E-mail">
              </div>
              <div>
                <input class="submit" type="submit" value="Cadastrar">
              </div>
            </form>
        </div>
    </div>

      </div> <!--Fim Lateral-->


    </div><!--Fim conteúdo-->


  </div> <!--Fim Container-->
  {% endblock %}