{% extends 'base.html' %}
  {% block conteudo %}  
    <!--Início Destaque-->
    <div id="conteudo">

      <div id="duas-colunas">
        <div class="caixa">
          <h2>Disciplinas do Oitavo Período</h2>
          <div class="caixa-conteudo">
            <div class="list">
              <ul>
                <li>  Arquitetura de Software  </li>
                <li>  Concepções e Práticas da Educação de Jovens e Adultos </li>
                <li>  Concepções e Práticas de Avaliação da Aprendizagem  </li>
                <li>  Desenvolvimento de Jogos Digitais  </li>
                <li>  Desenvolvimento de Sistemas Corporativos  </li>
                <li>  Desenvolvimento para Dispositivos Móveis  </li>
                <li>  Educação em Direitos Humanos  </li>
                <li>  Educação para a Diversidade  </li>
                <li>  Educação para o Desenvolvimento Sustentável   </li>
                <li>  Eletricidade e Eletrônica Analógica  </li>
                <li>  Espanhol </li>
                <li>  Ética da Docência  </li>
                <li>  Filosofia da Educação  </li>
                <li>  Filosofia da Técnica e da Tecnologia  </li>
                <li>  Formação de Professores e Trabalho Docente  </li>
                <li>  Fundamentos da Educação à Distância  </li>
                <li>  Fundamentos da Educação Profissional Técnica e Tecnológica  </li>
                <li>  Gestão de Tecnologia da Informação  </li>
                <li>  Instalação e Manutenção de Computadores  </li>
                <li>  Jogos Digitais na Educação  </li>
                <li>  Laboratório de Sistemas Operacionais  </li>
                <li>  Legislação em Computação  </li>
                <li>  LIBRAS II  </li>
                <li>  Programação e Administração de Banco de Dados  </li>
                <li>  Projeto de Software Educacional  </li>
                <li>  Segurança da Informação  </li>
                <li>  Tecnologias Digitais na Educação  </li>
                <li>  Teoria e Organização Curricular  </li>
                <li>  Web Semântica e Ontologias  </li>
              </ul>
            </div>
    
          </div>
        </div> <!--Fim Destaque-->

      
        


      </div><!--fim notícias-->

      <!--Inicio Lateral-->
      <div id="lateral">
        <div class="caixa">
        <h2>Disciplinas por período</h2>

        <div class="caixa-conteudo">
            <ul>
              <li><a href="primeiro">1º Período</a></li>
              <li><a href="segundo">2º Período</a></li>
              <li><a href="terceiro">3º Período</a></li>
              <li><a href="quarto">4º Período</a></li>
              <li><a href="quinto">5º Período</a></li>
              <li><a href="sexto">6º Período</a></li>
              <li><a href="setimo">7º Período</a></li>
              <li><a href="oitavo">8º Período</a></li>
              <li><a href="optativas">Optativas</a></li>
            </ul>
        </div>
        <div class="caixa">
        <h2>Novidades</h2>
        <div class="caixa-conteudo">
           
            <form>
              <div>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" placeholder="E-mail">
              </div>
              <div>
                <input class="submit" type="submit" value="Cadastrar">
              </div>
            </form>
        </div>
    </div>

      </div> <!--Fim Lateral-->


    </div><!--Fim conteúdo-->


  </div> <!--Fim Container-->
  {% endblock %}