<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Licenciatura em Indormática</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <!-- Início Container-->
  <div id="container">
    <!--Início Topo-->
    <div id="topo">
      <h1 class="logo"></h1>
      <ul id="navegacao">
        <li><a href="/home">Home</a></li>
        <li><a href="/home">Notícias</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/home">Notícias</a></li>



      </ul>
    </div> <!-- Fim/Topo-->
      
    <!--Início Destaque-->
    <div id="conteudo">

      <div id="duas-colunas">
        <div class="caixa">
          <h2>Disciplinas do Primeiro Período</h2>
          <div class="caixa-conteudo">
            <div class="list">
              <ul>
                <li>Desenvolvimento de Práticas Educativas e Formação Docente I</li>
                <li>Fundamentos da Educação I</li>
                <li>Informática</li>
                <li>Língua Portuguesa</li>
                <li>Matemática</li>
                <li>Pensamento Computacional</li>
                <li>Seminário de Integração Acadêmica</li>
                <li>Seminário de Orientação ao Desenvolvimento<br> 
                  de Práticas Educativas e Formação Docente I</li>
              </ul>
            </div>
    
          </div>
        </div> <!--Fim Destaque-->

      
        


      </div><!--fim notícias-->

      <!--Inicio Lateral-->
      <div id="lateral">
        <div class="caixa">
        <h2>Disciplinas por período</h2>

        <div class="caixa-conteudo">
            <ul>
              <li><a href="primeiro">1º Período</a></li>
              <li><a href="segundo">2º Período</a></li>
              <li><a href="terceiro">3º Período</a></li>
              <li><a href="quarto">4º Período</a></li>
              <li><a href="">5º Período</a></li>
              <li><a href="">6º Período</a></li>
              <li><a href="">7º Período</a></li>
              <li><a href="">8º Período</a></li>
            </ul>
        </div>
        <div class="caixa">
        <h2>News</h2>
        <div class="caixa-conteudo">
           
            <form>
              <div>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" placeholder="E-mail">
              </div>
              <div>
                <input class="submit" type="submit" value="Cadastrar">
              </div>
            </form>
        </div>
    </div>

      </div> <!--Fim Lateral-->


    </div><!--Fim conteúdo-->


  </div> <!--Fim Container-->
  <div id="container-rodape" style="clear: both;">
      <div id="rodape">
        CALINFO — Centro Acadêmico de Licenciatura em Informática<br>
        Instituto Federal de Educação, Ciência e Tecnologia do Estado do Rio Grande do Norte (IFRN)<br>
        © 2025 CALINFO. Todos os direitos reservados.<br>
        Contato: @email | Instagram: @calinfo.oficial
      </div>
    
  </div>

 <!-- <div id="secundario">
    <h2>Disciplinas do Primeiro Período</h2>
    
    <div class="lista">
        <ul>Desenvolvimento de Práticas Educativas e Formação Docente I</ul>
        <ul>Fundamentos da Educação I</ul>
        <ul>Informática</ul>
        <ul>Língua Portuguesa</ul>
        <ul>Matemática</ul>
        <ul>Pensamento Computacional</ul>
        <ul>Seminário de Integração Acadêmica</ul>
        <ul>Seminário de Orientação ao Desenvolvimento<br> de Práticas Educativas e Formação Docente I</ul>
    </div>
  </div> -->
</body>
</html>